[Unit]
Description=Update config

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/microarch-custom
ExecStart=/bin/bash -c '/opt/microarch-custom/apply.sh > /var/log/mothership-startup.log 2>&1'

[Install]
WantedBy=multi-user.target
